[user]
  name = untletch
  email = untletch@gmail.com
[core]
  excludesfile = $HOME/.gitignore_global
[color]
  diff = auto
  status = auto
  branch = auto
[color "status"]
  added = green
  changed = blue
  untracked = red 
[color "diff"]
  meta = yellow
  old = red 
  new = green
